body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #73c0f3;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.title-container{
    align-content: center;
    display: flex;
    justify-content: center;
}

.title-heading {
    background: #333;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 300px;
    max-height: 600px;
    color: azure;
    margin-bottom: 20px;
    padding: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 1600px;
    margin: 4rem auto 4rem auto; 
    padding: 0 1rem;
    padding-top: 5rem; 
    padding-bottom: 3rem; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    z-index: 1000;
}

#books {
    text-align: center;
}

.book-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
}

.book-card {
    background: #333;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 300px;
    min-width: 250px;
    max-height: 500px;
    min-height: 300px;
    color: azure;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align all child elements */
    justify-content: space-between;
    padding-bottom: 2.5rem; /* Space at the bottom to avoid overlap */
    padding-top: 1rem; /* Add padding at the top */
}

.book-card img {
    width: 150px;
    height: 200px;
    margin: 1rem auto 0; /* Center the image horizontally and add top margin */
    display: block; /* Ensure image is treated as a block element for auto margins */
    border-radius: 8px;
}

.book-info {
    padding: 1rem;
}

.book-info h2 {
    margin: 0.5rem 0;
}

.view-details {
    position: absolute;
    bottom: 1rem; /* Distance from bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust position to be centered */
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.view-details:hover {
    background-color: #333;
    color: #fff;
}

.book-card:hover {
    transform: translateY(-5px);
}

#book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.book-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-header img {
    max-width: 300px;
    margin-bottom: 1rem;
}

.book-notes {
    margin-top: 2rem;
}

.book-notes ul {
    list-style: none;
    padding: 0;
}

.book-notes li {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
}
